#header{	
	margin-top:100px;
    height: 30px;	
	margin-top:auto 0;
    height: 185px;
    width: 80%;
	background-color:#FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-top-left-radius: 40px;
    border-top-right-radius: 40px;
	
}

.cc {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	color:#333333; 
} 

body {
	font-size: 11.5pt;
	line-height: 1.75em;
	background-image:url(image/bg.jpg);
	background-attachment:fixed;
	background-position:center;
	letter-spacing: -0.02em;
}
sup{
		color:#FF0000;
}
.c{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	color:#000000;
 
}

#nav {font-size:13px; width:230px;}
#nav {font-family:Verdana, Arial, Helve tica, sans-serif;}
#nav ul {margin:0px; padding:0px;}
#nav li {list-style: none;} 

ul.top-level {background:#CCFFFF;}
ul.top-level li {
 border: #999999 groove; 
 border-width: 5px;
}
 #nav ul.sub-level {border:1px solid yellow;}
#nav a {
 color: #000000;
 cursor: pointer;
 display:block;
 height:25px;
 line-height: 25px;
 text-indent: 10px;
 text-decoration:none;
 width:100%;
}

#nav a:hover{
 text-decoration:underline;
}

#nav li:hover {	
 background: #CCFFCC;
 position: relative;
}
ul.sub-level {
    display: none;  
}
li:hover .sub-level {
    background: #999;
	 border: #999900 thin; 
	border-width: 5px;
    display: block;
    position: absolute;
    left: 75px;
    top: 5px;
}
ul.sub-level li {
    border: none;
	border: #666666 double; 
	border-width: 5px;
 
    float:right;
    width:150px;
}

#nav .sub-level {
    background: #FFFFFF;
}

#mainbody
{
   height: 30px;
    height: auto;

	border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
	
    width: 80%;
	background-color:#FFFFFF;
}


.cll
{
	background="image/bg.jpg" 
}
#footer
{
	
    height: 30px;

    height: 100;
    width: 100%;
	color: #555;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	margin 30px auto 0 auto;
}
.button_example{
border:0px solid #FFFFFF; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-align: center; color: #FFFFFF; background-color: #A5B8DA;

 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #CCFFFF), color-stop(100%, #FAFAFA));
 
 background-image: -webkit-linear-gradient(top,#2E2E2E, #FAFAFA,#2E2E2E);
 background-image: -moz-linear-gradient(top, #2E2E2E, #FAFAFA,#2E2E2E);
 background-image: -ms-linear-gradient(top, #2E2E2E, #FAFAFA,#2E2E2E);
 background-image: -o-linear-gradient(top, #2E2E2E, #FAFAFA,#2E2E2E);
 background-image: linear-gradient(top, #819bcb, #FAFAFA,#2E2E2E);filter:
 rogid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#A5B8DA, endColorstr=#7089B3);
}


.l
{

background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#FFFFFF), color-stop(100%, #585858));
 background-image: -webkit-linear-gradient(top, #FFFFFF,#E6E6E6,);
 background-image: -moz-linear-gradient(top, #FFFFFF,#E6E6E6);
 background-image: -ms-linear-gradient(top, #FFFFF,#E6E6E6);
 background-image: -o-linear-gradient(top, #FFFFFF,#E6E6E6);
 background-image: linear-gradient(top, #FFFFFF,#E6E6E6);
}
.t
{

background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#FFFFFF), color-stop(100%, #585858));
 background-image: -webkit-linear-gradient(top,#E6E6E6, #FFFFFF,#E6E6E6);
 background-image: -moz-linear-gradient(top,#E6E6E6, #FFFFFF,#E6E6E6);
 background-image: -ms-linear-gradient(top,#E6E6E6, #FFFFF,#E6E6E6);
 background-image: -o-linear-gradient(top,#E6E6E6, #FFFFFF,#E6E6E6);
 background-image: linear-gradient(top,#E6E6E6, #FFFFFF,#E6E6E6);
}
.button_example:hover{
 border:0px solid #5d7fbc; background-color: #819bcb;
    background: -webkit-gradient(linear, left top, left bottom, from(#97afbf), to(#8e969c));

 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#819bcb), color-stop(100%, #FAFAFA));
 background-image: -webkit-linear-gradient(top, #CCCCCC, #FAFAFA,#CCCCCC);
 background-image: -moz-linear-gradient(top, #CCCCCC, #FAFAFA,#CCCCCC);
 background-image: -ms-linear-gradient(top, #CCCCCC, #FAFAFA,#CCCCCC);
 background-image: -o-linear-gradient(top, #CCCCCC, #FAFAFA,#CCCCCC);
 background-image: linear-gradient(top, #424242, #FAFAFA,#CCCCCC);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#819bcb, endColorstr=#536f9d);
}

.sss{
   border-top: 1px solid #d1e1eb;
   background: #8e969c;
   background: -webkit-gradient(linear, left top, left bottom, from(#97afbf), to(#8e969c));
   background: -webkit-linear-gradient(top, #97afbf, #8e969c);
   background: -moz-linear-gradient(top, #97afbf, #8e969c);
   background: -ms-linear-gradient(top, #97afbf, #8e969c);
   background: -o-linear-gradient(top, #97afbf, #8e969c);
   padding: 10px 20px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #2e1f2e;
   font-size: 20px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.sss:hover {
   border-top-color: #c5d2db;
   background: #c5d2db;
   color: #472747;
   }
.sss:active {
   border-top-color: #a7c6db;
   background: #a7c6db;
   }